.container{
  background: cornflowerblue;
  max-width: 100%;
  padding: 60px;
  border: 2px solid rebeccapurple;
  font-weight: bold;
  text-align: center;
  color: rebeccapurple;
}

.numInCircle{

  border: 1px solid rebeccapurple;
  border-radius: 50%;
  background: darkgoldenrod;
}
