<div id="gallery" class="gall">
  <form>

    <label> название картинки: <input name="nameImage" [(ngModel)]="nameImage"/></label>
    <br>
    <label style="margin-left: 43px"> url картинки: <input name="urlImage" [(ngModel)]="urlImage"/></label>
    <br>
    <button
      type="button"
      (click)="onAddToPage($event)"
      [disabled]="disabledOn()"
    >
      добавить картинку
    </button>

  </form>

  <h2>your gallery:</h2>
  <img src="https://bipbap.ru/wp-content/uploads/2017/09/1kgwYBuQw7t5etDwP9o1XE9H-640x410.jpeg" width="200" height="200" >
  <h3 style="display: inline-block">Пейзаж</h3>
  <img src="https://bipbap.ru/wp-content/uploads/2017/04/72fqw2qq3kxh.jpg" width="200" height="200">
  <h3 style="display: inline-block">Сова</h3>
  <img src="https://im0-tub-ru.yandex.net/i?id=dc7361b95e9b0527c543cbb558a72055-l&n=27&h=384&w=480" width="200" height="200">
  <h3 style="display: inline-block">Кот</h3>
</div>

